/* font*/
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Playfair+Display:wght@400;700&display=swap');

*{
    font-family: 'Playfair Display', sans-serif;
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    list-style: none;
    text-decoration: none;
}

:root {
    --main-color: #bc9667;
    --second-color: #edeae3;
    --text-color: #1b1b1b;
    --bg-color: #fff;
}
section {
    padding: 50px 100px;
}
img {
    width: 100%;
}
body {
    color: rgba(240, 245, 242, 0.996);
    /* color: var(--text-color); */
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;   
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: canter;
    padding: 18px 100px;
    transition: 0.5s linear;
    background: rgb(14, 13, 13);
}
.logo img{
    width: 100px;
}
.navbar {
    display: flex;
}
.navbar a{
    padding: 5px 17px;
    color:hwb(120 7% 92%)
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar a:hover{
    background: rgb(160, 47, 47);
    border-radius: 0.2rem;
    transition: 0.2s all linear;
    cursor: grab;
}
.header-icon{
    font-size: 22px;
    cursor: grab;
    z-index: 10000;
    display: flex;
    column-gap: 0.8rem;
}
/* .header-icon .bx{
    color: var(--bg-color);
}
.header-icon .bx:hover{
    color: var(--main-color); 
} */
#menu-icon{
    color: rgb(250, 246, 247);
    font-size: 24px;
    z-index: 100001;
    cursor: pointer;
    display:none;
}
.home{
    width: 100%;
    min-height: 100vh;
    background: ;
}